.login-page {
    width: 100vw;
    height: 100vh;
    background-color: var(--lighter-color);
    display: flex;
}

.login-box {
    max-width: 70%;
    max-height: 70%;
    width: 980px;
    height: 580px;
    box-shadow: 0px 0px 25px 8px #0000004b;
    background-color: var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    display: flex;
}

.info-login-box {
    width: 40%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    background-color: var(--lighter-color);
    text-align: center;
    display: flex;
    align-items: center;

    & .centrilizing-login-box {
        width: 100%;
    }

    & h1 {
        font-weight: 500;
    }
}

.input-box {
    width: 100%;
    margin: 20px auto 0px;
    text-align: left;
}

.input-box > p {
    font-size: .7rem;
    font-weight: bolder;
}

.login-field {
    margin: auto;
    display: flex;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #F0F0F0;
    padding: 20px;
    margin: 10px 0px;
    transition: .3s;
    font-size: .9vw;
}

.login-field:focus {
    outline: none;
    border: solid 1px;
    border-color: var(--main-color);
}

.create-account-button {
    background-color: var(--main-color);
    transition: .3s;
    cursor: pointer;
    margin: 0;
    justify-content: center;
    color: var(--lighter-color);
    font-weight: bolder;
}

.create-account-button:hover {
    opacity: 0.9;
}

.login-button {
    display: flex;
    margin: auto;
    background-color: transparent;
    border: none;
    color: rgb(173, 173, 173);
    font-weight: 500;
    font-size: .8rem;
    cursor: pointer;
}

.line-separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px;
}

.line-separator span {
    width: 40%;
    height: 1px;
    border: none;
    background-color: rgb(173, 173, 173);
}

.line-separator p {
    color: rgb(173, 173, 173);
    font-size: .6rem;
    font-weight: 500;
}

aside {
    width: 60%;
    height: 100%;
    display: flex;
}

aside img {
    margin: auto;
    width: 60%;
}